<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School of Economics, Finance and Accounting</title>
  <link rel="icon" type="image/jpg" href ="https://extravision.com/img/logo/client-logos/quotes/coventry-university.jpg">
  <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body>
  <div>
    <img src="https://www.coventry.ac.uk/contentassets/40cbe16be2074d579b68cbd96a971052/cov-uni-logo-square.jpg" alt="'image">
  </div>
  <div>
    <form action="/search" method="POST">
        <input required="required" type="text" title="Search" name="query" placeholder="Enter Your Search Query"/>
        <button type="submit">Search For Publications</button> 
    </form>
  </div>
</body>
</html> 
